{% extends 'layout.html' %}
  {% block content %}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label>Product Name:</label>
            <input type="name" class="form-control" placeholder="Enter Your Name" name="name">
        </div>

        <div class="form-group">
            <label>Phone Price:</label>
            <input type="number" class="form-control" placeholder="Enter Phone Number" name="price">
        </div>
        <div class="form-group">
            <label>Expiry Date:</label>
            <input type="date" class="form-control" placeholder="Enter Your Address" name="date">
        </div>

        <select name="data">
            {% for list in prod %}
            <option value="{{ list.id }}">
        {{ list.name }}
            </option>
            {% endfor %}
        </select>
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{ msg }}
</div>
  {% endblock content %}