{% extends 'Layout.html' %}
{% block content %}
<center>
    <h2>USER DATA FETCH</h2>
    <br><br>
</center>
    <div class="">
        <table class="table" border="1">
        <thead>
            <tr>
                   <th scope="col" ><label style="width:200px;text-align:center;">Customer Image</label></th>
                <th scope="col" ><label style="width:200px;text-align:center;">Customer NAME</label></th>
                <th scope="col"><label style="width:200px;text-align:center;">Phone Number</label></th>
                 <th scope="col"><label style="width:200px;text-align:center;">Address</label></th>


            </tr>
        </thead>
        <tbody>
        {% for list in data %}
            <tr>
             <td>
               <img src="{{list.image_data}}" width="50%" alt="No Image"/>
                </td>
                <td>
                    {{list.name}}
                </td>
              <td>
                    {{list.phone}}
                </td>

              <td>
                    {{list.address}}
                </td>

  <td>
                    <a href="prod_del/{{list.id}}" class="btn btn-danger">Delete</a>
                    <a href="prod_upd/{{data.product_id}}" class="btn btn-primary">Update</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
    <style>
        td {
          text-align: center;
        }
        .table-earnings {
          background: #F3F5F6;
        }
        .table {
          width: 100%;
          display: block;
        }
        .con {
            overflow-x: scroll;
        }
    </style>
{% endblock content %}